*{
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
nav{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.book-library{
    background-color: rgb(46, 204, 113);
}
.book {
    background-color: #777777;
    padding: 15px;
    margin: 20px 0px;
}
h2,h1,p,nav{
    background-color: #777777;
}
.book img {
    display: block;
    margin: 0 auto;
}
button{
    width: 100%;
    padding: 15px;
    font-size: 25px;
    /* border-radius: 10px; */
    background-color:rgb(46, 204, 113);
    color: #ffffff;
	border:0;
	
}

